{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'afalgugnapp2/fonts2/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'afalgugnapp2/css2/style.css' %}">
</head>
<body>

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'afalgugnapp2/images2/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" action="{% url 'user_login' %}" class="register-form" id="login-form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="{{ form.your_name.id_for_label }}"><i class="zmdi zmdi-account material-icons-name"></i>Username</label>
                                {{ form.username.errors }}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.your_pass.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password.errors }}
                                {{ form.password }}

                            <div class="form-group">
                                <label for="{{ form.phone_number.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.phone_number.errors }}
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#2"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="{% provider_login_url 'google' %}"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'afalgugnapp2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'afalgugnapp2/js2/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>